<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV Files</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="file-upload">
        <h1>Upload CSV files:</h1>
    <form class="" method="post" enctype="multipart/form-data">
        <label for="">HTS FILE</label>
        <input type="file" class="" name="HTS">
        <br>
        <br>
        <br>
        <label for="">PMTCT FILE</label>
        <input type="file" class="" name="PMTCT" >
        <br>
        <br>
        <br>
        <input type="submit" value="UPLOAD">
    </form>
    </div>
</body>
</html>